udagram-api-feed/node_modules
udagram-api-feed/env-*
udagram-api-feed/set_env*


udagram-api-user/node_modules
udagram-api-user/env-*
udagram-api-user/set_env*


udagram-frontend/node_modules
udagram-frontend/env-*
udagram-frontend/set_env*


udagram-reverseproxy/node_modules
udagram-reverseproxy/env-*
udagram-reverseproxy/set_env*


aws-*
env-*